<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="printModalLabel">Print Selection</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="button" class="btn btn-success" aria-label="Settings">
                    <span aria-hidden="true"><a href="#" style="color:white" id="printFormsEditLink">Edit/Add More
                            Printing Forms</a></span>
                </button>
            </div>
            <div class="modal-header print-buttons-header">
                <h4 class="modal-title">Printing Forms</h4>
                <div class="print-buttons"></div>
            </div>

            <div class="modal-body d-none">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script src="/js/print_form_modal.js" defer></script>