<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
      flex-direction: column;
    }

    #signup-form {
      background-color: #efe9e9;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(138, 14, 14, 0.2);
    }

    h1 {
      text-align: center;
    }

    label {
      display: block;
      margin: 10px 0;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    button[type="submit"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    } 
  </style>
</head>
<body>
  <h1>Create Account</h1>
  <form id="signup-form" method="post" action="/register">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname" required><br>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" required><br>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required><br>
    </div>
    <div class="form-group"></div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>
      <input type="checkbox" onclick="togglePasswordVisibility()">Show Password<br>
    </div> 
    <div class="form-group">
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" required><br>
    </div>
    <button type="submit">Signup</button>
  </form>
   <p>Already have an account? <a href="/login">Login</a></p>
<script>
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
    </script>

    <script>  
    const passwordField = document.getElementById('password');
    const confirmPasswordField = document.getElementById('confirm-password');

    function validateConfirmPassword() {
        if (passwordField.value === confirmPasswordField.value) {
            confirmPasswordField.setCustomValidity('');
        } else {
            confirmPasswordField.setCustomValidity('Passwords do not match');
        }
    }

    confirmPasswordField.addEventListener('input', validateConfirmPassword);
</script>
</body>
</html>

