<!DOCTYPE html>
<html>
<head>
  <title>Grants Portal</title>
  <script src="handlebars.js"></script>
  {{!-- <link rel="stylesheet" href="public/style.css"> --}}
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
      flex-direction: column;
    }

    login-form {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    h1 {
      text-align: center;
    }

    label {
      display: block;
      margin: 10px 0;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    #show_button {
      cursor: pointer;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Grants portal</h1>
  <h1>Login</h1>
  <form id="login-form" method="post" action="/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="button" style="margin: left 5px" name="show_password" value="Show"
     id="show_button" onclick="if (password.type == 'text') password.type = 'password';
      else password.type = 'text';">
    <br><br>

    <input type="submit" value="Login">
  </form>

  <script src="public/script.js"></script>
</body>
</html>


{{!-- <!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Login</button>
  </form>
</body>
</html> --}}